<div class="container">
  <p id="notice"><%= notice %></p>
  <h2>
   <% if current_user.id == @user.id %>
     Luomasi ideat
   <% else %>
     <%= (t :ideas_by_user) +" "+ @user.name %>
   <% end %>
  </h2>
  <% if not session[:user_id].nil? and current_user.admin%>
    <%= link_to 'Edit user', edit_user_path(@user) %>
  <% end %>
</div>

<%= render 'layouts/list_ideas'%>
