@import "bootstrap-sprockets";
@import "bootstrap";

.container > .panel-groups{
	background: #dddddd;
	box-shadow: 5px 5px 5px grey;
	margin-bottom: 15px;
}

body {
	/*background: #1e5799;
	background: -moz-linear-gradient(-45deg, #1e5799 0%, #2989d8 0%, #1a33a3 0%, #4b81cc 100%);
	background: -webkit-linear-gradient(-45deg, #1e5799 0%,#2989d8 0%,#1a33a3 0%,#4b81cc 100%);
	background: linear-gradient(135deg, #1e5799 0%,#2989d8 0%,#1a33a3 0%,#4b81cc 100%);*/
	background: #c3c3c3;
}

a:hover{
	background: none;
}

.btn-primary{
	color: #ffffff;
}

.btn-default{
	color: #000000;
}

.btn{
	margin: 5px 0 5px;
}

.btn a:hover {
	text-decoration: none;
}

.center{
	text-align: center;
}

.tags{
	margin: 15px 0 15px;
}

.total-likes{
	font-size: 20px;
}

a .flag{
	color: #c8c8c8;
	float: right;
}

.flag:hover{
	color: #ff0000;
}

.user_name{
	float: right;
}

.btn a, .btn-primary:visited{
	color: #ffffff;
}

.delete_comment{
	float:right;
	margin-left:10px;
	margin-right:10px;
}

.publish_comment{
	float:right;
	margin-left:10px;
	margin-right:10px;
}

.social-share-button-facebook:hover{
	background: url("/assets/sprites/social-share-button-01bd4e9a7782620aab986c55abc6ecb9ee88d50bb51f28c2f00fe36d87a0944c.png") -32px 0px no-repeat;
}

.social-share-button-twitter:hover{
	background: url("/assets/sprites/social-share-button-01bd4e9a7782620aab986c55abc6ecb9ee88d50bb51f28c2f00fe36d87a0944c.png") -48px -48px no-repeat;
}

.open-button, .open-button:hover{
	color: #000;
	float: left;
}

.list_users{
	width: 100%;
}

.list_users, th, td{
	border: 1px solid black;
	border-collapse: collapse;
	padding: 5px;
}

tr:nth-child(even){
	background-color: #e3e3e3;
}

.bg{
	color: #ff0000;
}

// navbar styles

.navbar{
	margin: 50px 50px 25px 50px;
	background: none;
	border-radius: 0px;
	border-color: #fff;
	min-height: 100px;
}

.navbar, .navbar-default .navbar-nav > li > a{
	color: #fff;
}

.navbar-brand{
	width: 100px;
	height: 100px;
}

.navbar-header{
	padding-left: 50px;
}

.navbar-nav{
	padding: 25px;
}

.navbar-middle{
	position: absolute;
	 width: 100%;
	 left: 0;
	 text-align: center;
	 margin:0 auto;
}

.navbar-middle p{
	position: absolute;
  left: 50%;
  transform: translatex(-50%);
	text-transform: uppercase;
	padding-top: 15px;
}

.navbar-right{
	padding-right: 0;
}

// basket styles

.nav-tabs-justified > li > a{
	color: #fff;
	border-color: #fff;
	padding: 25px;
}

.nav-tabs-justified > li.active > a{
	color: #000;
	border-color: #fff;
	background: none;
}

.nav-tabs-justified > .active > a, .nav-tabs.nav-justified > .active > a, .nav-tabs-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs-justified > .active > a:focus, .nav-tabs.nav-justified > .active > a:focus{
	border: 1px solid #fff;
}

.nav-tabs, .nav-tabs-justified > li > a, .nav-tabs.nav-justified > li > a{
	border-radius: 0px;
}

// tag styles

.tags form {
	width: 100%;
	display: -webkit-flex;
	display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-around;
	align-items: stretch;
}

.tag-list{
	flex: 1;
	display: block;
	height: 50px;
	background: #cccccc;
}

.tag-list:nth-child(even){
	background-color: #fff;
}

.filter-tags{
	border: 1px solid blue;
	margin: 5px;
	background: none;
}

// sort styles

.sort-ideas{
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	margin-bottom: 25px;
	padding: 5px 0 5px;
}

.sort-ideas a{
	color: #fff;
}

.new-idea{
	margin-top: -5px;
	padding: 5px 0 5px;
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
	background: #fff;
}

.new-idea a{
	padding: 0 50px 0 50px;
	color: blue;
}

// idea list styles

.panel{
	border-radius: 0;
	border: none;
	box-shadow: none;
}

.idea-new{
	background: #ffffff;
	background: -moz-linear-gradient(-15deg, #ffffff 1%, #ffffff 50%, #b2ffff 51%, #b2ffff 100%);
	background: -webkit-linear-gradient(-15deg, #ffffff 1%,#ffffff 50%,#b2ffff 51%,#b2ffff 100%);
	background: linear-gradient(105deg, #ffffff 1%,#ffffff 50%,#b2ffff 51%,#b2ffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#b2ffff',GradientType=1 );
}

.approved-idea{
	background: #ffffff;
	background: -moz-linear-gradient(-15deg, #ffffff 1%, #ffffff 50%, #b2ffff 51%, #b2ffff 100%);
	background: -webkit-linear-gradient(-15deg, #ffffff 1%,#ffffff 50%,#b2ffff 51%,#b2ffff 100%);
	background: linear-gradient(105deg, #ffffff 1%,#ffffff 50%,#b2ffff 51%,#b2ffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#b2ffff',GradientType=1 );
}

.changing-idea{
	background: #ffffff;
	background: -moz-linear-gradient(-15deg, #ffffff 1%, #ffffff 50%, #a7ffd7 51%, #a7ffd7 100%);
	background: -webkit-linear-gradient(-15deg, #ffffff 1%,#ffffff 50%,#a7ffd7 51%,#a7ffd7 100%);
	background: linear-gradient(105deg, #ffffff 1%,#ffffff 50%,#a7ffd7 51%,#a7ffd7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#a7ffd7',GradientType=1 );
}

.changed-idea{
	background: #ffffff;
	background: -moz-linear-gradient(-15deg, #ffffff 1%, #ffffff 50%, #c1ffae 51%, #c1ffae 100%);
	background: -webkit-linear-gradient(-15deg, #ffffff 1%,#ffffff 50%,#c1ffae 51%,#c1ffae 100%);
	background: linear-gradient(105deg, #ffffff 1%,#ffffff 50%,#c1ffae 51%,#c1ffae 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c1ffae',GradientType=1 );
}

.not-changed-idea{
	background: #ffffff;
	background: -moz-linear-gradient(-15deg, #ffffff 1%, #ffffff 50%, #ffdbff 51%, #ffdbff 100%);
	background: -webkit-linear-gradient(-15deg, #ffffff 1%,#ffffff 50%,#ffdbff 51%,#ffdbff 100%);
	background: linear-gradient(105deg, #ffffff 1%,#ffffff 50%,#ffdbff 51%,#ffdbff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffdbff',GradientType=1 );
}

.rejected-idea{
	background: #ffffff;
	background: -moz-linear-gradient(-15deg, #ffffff 1%, #ffffff 50%, #b2ffff 51%, #b2ffff 100%);
	background: -webkit-linear-gradient(-15deg, #ffffff 1%,#ffffff 50%,#b2ffff 51%,#b2ffff 100%);
	background: linear-gradient(105deg, #ffffff 1%,#ffffff 50%,#b2ffff 51%,#b2ffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#b2ffff',GradientType=1 );
}

.idea-top h4, .idea-top p, .idea-top a{
	color: blue;
}

.tag-text{
	color: #000;
}

.panel-default > .panel-heading{
	border-color: blue;
}

.idea-bottom{
	background: #fff;
	border-color: blue;
}

.idea-bottom a{
	color: blue;
}

.idea-body{
	padding: 15px;
}

.idea-body > .panel > .panel-heading{
	background: #fff;
	border-radius: 0;
	border-top: 1px solid blue;
	border-bottom: 1px solid blue;
}

.comment-top{
	padding-left: 0;
}

.comment-top h4{
	color: blue;
}

.comments li{
	padding: 0;
	border: none;
}

.comments li > .panel > .panel-heading{
	background: #fff;
	padding: 15px 0;
	border: none;
}

.comments li > .panel > .panel-heading > p, .comments li > .panel > .panel-heading > p > a{
	color: blue;
}

.comments li > .panel > .panel-body{
	padding: 0;
	border: none;
}

.comment-container > .panel-heading{
	padding: 10px 0;
	background: #fff;
	border-radius: 0;
	border-top: 1px solid blue;
}

.comment-container > .panel-heading > label{
	color: blue;
}

.comment-container > .panel-body{
	padding: 10px 0 0;
}

.likes{
	vertical-align: bottom;
	margin-right: 15px;
	width: 35px;
	height: 25px;
	-webkit-transform: skew(160deg);
	   -moz-transform: skew(160deg);
	     -o-transform: skew(160deg);
	border: 1px solid blue;
	background: #fff;
	pointer-events: none;
	cursor:default;
}

.like-button{
	width: 100px;
	height: 75px;
	-webkit-transform: skew(160deg);
	   -moz-transform: skew(160deg);
	     -o-transform: skew(160deg);
	border: 1px solid blue;
}

.like-button:hover{
	opacity: 0.65;
}

.like{
	background: blue;
}

.liked{
	background: lime;
}

.disable{
	opacity: 0.65;
	cursor: not-allowed;
}

// show idea styles

.idea-top{
	padding: 15px;
}

.idea-top div h2{
	color: blue;
}

.idea-show{
	background: #fff;
}

.social-share-button{
	display: inline-block;
	vertical-align: bottom;
}

.ssb-icon{
	vertical-align: bottom;
	margin-right: 15px;
	width: 35px !important;
	height: 25px !important;
	-webkit-transform: skew(160deg);
	   -moz-transform: skew(160deg);
	     -o-transform: skew(160deg);
	border: 1px solid blue;
	background: #fff;
}

.idea-show-body{
	margin: 0;
	border-bottom: 1px solid blue;
}

.idea-show-body > .col-sm-9, .idea-show-body > .col-sm-3{
	padding: 15px 15px 15px 0;
}

.idea-show-comments li{
	padding: 0;
}

.idea-show-comments li, .list-group-item:first-child{
	border-radius: 0;
	border: none;
	border-top: 1px solid blue;
	border-bottom: 1px solid blue;
}

.idea-show-comments li .panel .panel-heading{
	background: none;
	border: none;
	padding: 15px 0 0 0;
}

.idea-show-comments li .panel .panel-heading, .idea-show-comments li .panel .panel-heading a{
	color: blue;
}

.idea-show-comments li .panel .panel-body{
	padding: 15px 0 0 0;
}

.idea-show-comment-text{
	padding-top: 5px;
	color: blue;
}

.back a, .comment-label{
	color: blue;
}

.idea-show .idea-top{
	border-bottom: 1px solid blue;
}
