@import "bootstrap-sprockets";
@import "bootstrap";

.container > .panel-groups{
	background: #dddddd;
	box-shadow: 5px 5px 5px grey;
	margin-bottom: 15px;
}

/*body {
	background: #1e5799;
	background: -moz-linear-gradient(-45deg, #1e5799 0%, #2989d8 0%, #1a33a3 0%, #4b81cc 100%);
	background: -webkit-linear-gradient(-45deg, #1e5799 0%,#2989d8 0%,#1a33a3 0%,#4b81cc 100%);
	background: linear-gradient(135deg, #1e5799 0%,#2989d8 0%,#1a33a3 0%,#4b81cc 100%);
}*/

a:hover{
	background: none;
}

.btn{
	margin: 5px 0 5px;
}

.btn a:hover {
	text-decoration: none;
}

.center{
	text-align: center;
}

.tags{
	margin: 15px 0 15px;
}

.total-likes{
	font-size: 20px;
}

a .flag{
	color: #c8c8c8;
	float: right;
}

.flag:hover{
	color: #ff0000;
}

.user_name{
	float: right;
}

.btn a, .btn:visited{
	color: #ffffff;
}

.delete_comment{
	float:right;
	margin-left:10px;
	margin-right:10px;
}

.publish_comment{
	float:right;
	margin-left:10px;
	margin-right:10px;
}

.social-share-button-facebook:hover{
	background: url("/assets/sprites/social-share-button-01bd4e9a7782620aab986c55abc6ecb9ee88d50bb51f28c2f00fe36d87a0944c.png") -32px 0px no-repeat;
}

.social-share-button-twitter:hover{
	background: url("/assets/sprites/social-share-button-01bd4e9a7782620aab986c55abc6ecb9ee88d50bb51f28c2f00fe36d87a0944c.png") -48px -48px no-repeat;
}

.open-button, .open-button:hover{
	color: #000;
}

.list_users{
	width: 100%;
}

.list_users, th, td{
	border: 1px solid black;
	border-collapse: collapse;
	padding: 5px;
}

tr:nth-child(even){
	background-color: #e3e3e3;
}

.bg{
	color: #ff0000;
}
