
	<!--<ul style="list-style: none; display: block;">
		<li style="float: left; margin-right: 5px"><a href="users">users</a></li>
		<li style="float: left; margin-right: 5px"><a href="ideas">ideas</a></li>
		<li style="float: left; margin-right: 5px"><a href="histories">histories</a></li>
		<li style="float: left; margin-right: 5px"><a href="likes">likes</a></li>
		<li style="float: left; margin-right: 5px"><a href="baskets">baskets</a></li>
		<li style="float: left; margin-right: 5px"><a href="tags">tags</a></li>
		<li style="float: left;"><a href="comments">comments</a></li>
	</ul>-->

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Hydea</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Ideas</a></li>
    </ul>
  </div>
</nav>